* {

    padding: 0;
    color: #b6acac;
    font-family: cursive;
    font-weight: bold;
   
}

body {
    background-color: #928f8f;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgb(66, 72, 72);
    justify-content: center;
    flex-direction: row;
    display: flex;
    border-radius: 500px;

}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 40%;
}


.logo {
    display: flex;
    justify-content: flex-start;
}


.socialmediabuttons {
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;


}


.main1 {

    display: flex;
    width: 100%;
    height: 100px;
    color: #892828;
    justify-content: space-evenly;
    flex-direction: row;

    border-radius: 500px;

}


.buttoncontact {

    border: 2px;
    border-radius: 20px;
}

footer {

    background-color: rgb(66, 72, 72);
    border-radius: 500px;
    height: 100px;
    width: 100%;
  
}