* {

    padding: 0;
    color: #b6acac;
    font-family: cursive;
    font-weight: bold;

}

body {
    background-color: #928f8f;
}


/*HEADER ALLES IN HEADER*/

header {
    width: 100%;
    height: 100px;
    background-color: rgb(66, 72, 72);
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    border-radius: 500px;

}

/*Navigate Balk bovenaan in header*/

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 40%;
}

/*LOGO IN HEADER POPPETJE*/
.logo {
    display: flex;

    align-items: center;

}


/*Main?*/
main {}





.buttoncontact {
    width: 100px;
    height: 60px;
    border: 30px;
    border-radius: 50px;
    background-color: rgb(24, 22, 22);
}

/*FOOTER*/

footer {

    background-color: rgb(66, 72, 72);
    border-radius: 500px;
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Social media buttons die in de foooter staan*/
.socialmediabuttons {
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}


.textlinkjes {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 20px;
    gap: 10px;
}

/*Sectie1 buiten Footer om dus eerste sectie onder footer met i AM*/

.textboxje-sectie-1 {

    width: 500px;
    height: 90px;
    border-radius: 100px;
    background-color: rgb(66, 72, 72);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 500px;
    margin-top: 120px;

}


.alle3deboxen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin-bottom: 20px;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: rgb(66, 72, 72);
    border-radius: 20px;
    display: flex;
    align-items: center;

}


.box2 {
    width: 200px;
    height: 200px;
    background-color: rgb(66, 72, 72);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.box3 {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgb(66, 72, 72);
    border-radius: 20px;
    text-align: center;
}

.gewerkttext {
    width: 500px;
    height: 90px;
    border-radius: 100px;
    background-color: rgb(66, 72, 72);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo1 img {
    display: flex;
    border-radius: 20px;
    margin-left: 7.5px;
    width: 180px;
    height: 180px
}

.logo2 img {
    display: flex;
    border-radius: 20px;
    margin-left: 8px;
    width: 180px;
    height: 180px
}

.logo3 img {
    display: flex;
    border-radius: 20px;
    margin-left: 8px;
    width: 180px;
    height: auto;
}

/*Zijbalken langs sectie 1 onder footer werk ervaring en werk afbeeldingen */

.verticaalbalkzij1 {
    width: 50px;
    height: 600px;
    background-color: rgb(66, 72, 72);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 725px;

}

/*ERGERNS PLAATSE BIJ TIJDBALK*/
.pijl2 img {
    display: flex;
    justify-content: center;

}



.grotesectieblok1 {
    background-color: rgb(66, 72, 72);
    width: auto;
    height: auto;
    border-radius: 160px;
}

.bigimage img {
    margin-left: 950px;
}

.textinditblok h1 {
    color: #b6acac;
    text-align: center;
    margin-top: 30px;
}

